/*
 *Estilos para el explorador
*/
body{margin: 0px;font-family:Geneva, Verdana, sans-serif;font-size: 12px;height: 100%;overflow: hidden;}
    .estiloListadoDirectorios{font-size: 10px;border-bottom: 1px solid #f0f0f0;width: auto;margin: 4px;cursor: pointer;}
    .estiloListadoDirectorios , a {text-decoration: none;color:blue;}
    .estiloListadoDirectorios:hover{}
    .estiloNuevaCarpeta{float: left;width:90px;background: #f0f0f0;height: 15px;padding: 5px;margin-left: 4px;border: 1px solid #CCC;padding: 5px;text-align: center;font-size: 10px;}
    .estiloNuevaCarpeta:hover{background: #FFF;cursor: pointer;}
    #cargadorAcciones{font-weight: bold;z-index: 200;background: #F2F5B7;border: 1px solid #FF4000;top: 50%;left: 50%;margin-left: -100px;margin-top: -15px;position: absolute;width: 200px;height: 20px;padding: 10px;}
    .estiloAtras{float: left;width:50px;background: #f0f0f0;height: 15px;padding: 5px;margin-left: 4px;border: 1px solid #CCC;padding: 5px;text-align: center;font-size: 10px;}
    .estiloAtras:hover{background: #FFF;cursor: pointer;}
    .estiloEditar{float: left;width:90px;background: #f0f0f0;height: 15px;padding: 5px;margin-left: 4px;border: 1px solid #CCC;padding: 5px;text-align: center;font-size: 10px;}
    .estiloEditar:hover{background: #FFF;cursor: pointer;}
    .estiloEditarActivo{float: left;width:90px;background: #ff0000;height: 15px;padding: 5px;margin-left: 4px;border: 1px solid #CCC;padding: 5px;text-align: center;font-size: 10px;color: #fFF;display: none;}
    .estiloEditarActivo:hover{background: #FFF;color: #000;cursor: pointer;}
    .estiloDivHerr{display: none;float: left;margin: 3px;border-bottom: 0px solid #CCC;width: 80px;height: 20px;text-align: center;}
    .estiloDivHerr:hover{}
    .estiloSubirArchivo{float: right;width:90px;background: #f0f0f0;height: 15px;padding: 5px;margin-left: 4px;border: 1px solid #CCC;padding: 5px;text-align: center;font-size: 10px;}
    .estiloSubirArchivo:hover{background: #FFF;cursor: pointer;}
    .estiloCerrarVistaPrevia{display: none;float: left;width: auto;color: #FFF;background: #ff0000;height: 15px;padding: 5px;margin-left: 4px;border: 1px solid #666;padding: 5px;font-weight: bold;text-align: center;font-size: 10px;}
    .estiloCerrarVistaPrevia:hover{background: #FFF;color: #000;cursor: pointer;}
/*
Estilos generales
*/
#contenedorNavegadorArchivos{width: 99.5%;height: 98.5%;border: 1px solid #666;background: #FFF;margin: 2px;position:absolute;}
#barraNavegacion{width: 99.2%;height: 26px; border: 1px solid #666;background: #FFF;margin: 5px 5px 1px 5px;}
.tituloRutaExplorar{float: left;width:80px;background: #e1e1e1;height: 15px;padding: 5px;margin: 0;padding: 5px;font-weight: bold;}
#ubicacionDirectorios{float: left;width:auto;background: #fff;height: 15px;padding: 5px;margin: 0;padding: 5px;font-size: 10px;}
#barraBotones{width: 98.8%;height: 26px; border: 1px solid #666;background: #FFF;margin: 0px 5px 2px 5px;padding: 2px;}
#browserArchivos{margin: 0px 5px 5px 5px;width: 99.2%;border: 1px solid #CCC;background: #FFF;position: relative;overflow-x: auto;float: left;}

/*div propiedades*/
#propiedades{display: none;position: absolute;width: 28.5%;height: 300px;top: 68px;background: #F0F0F0;border: 1px solid #CCC;right: 5px;float: right;}
#txtPropiedades{background: #FFF;height: 15px;padding: 5px;text-align: left;color: #666;font-weight: bold;}
#subirArchivos2{border: 1px solid #CCC;background: #FFF;width: 96.5%;height: 85%;margin: 5px;overflow: auto;}
#divBtnCerrar{border: 1px solid #ccc;background: #fff;width: 94.5%;height: 26px;padding: 5px;margin: 5px;text-align: right;}
#btnCerrarVentana{background: #ff0000;color: #FFF;height: 25px;padding: 5px;}

/*vistaPreviaArchivo*/
#vistaPreviaArchivo{display: none;margin: 0px 5px 5px 5px;width: 99.2%;border: 1px solid #CCC;background: #F0F0F0;position: relative;overflow-x: auto;}

/*ventana separada para subir archivos*/
#subirArchivos{display: none;background: url(img/desv.png) repeat;position: absolute;width: 100%;height: 100%;}
#divContenedorVentanaSubir{width: 500px;height: 400px;position: absolute;left: 50%;top: 50%;margin-left: -250px;margin-top: -200px;border: 1px solid #CCC;z-index: 10;background: #fff;}
.tituloSubirArchivos{height: 17px;padding: 7px;border: 1px solid #CCC;width: 485px;background: #F0F0F0;color: #666;font-weight: bold;}
#detalleSubirArchivos{border: 1px solid #CCC;width: 498px;height: 330px; overflow:hidden;}



/*Estilos para los archivos*/
.contenedorArchivo{float: left;border: 0px solid #ff0000;margin: 5px;}
/*Estilo para cuando se van seleccionando las carpetas y/o archivos*/
.contenedorArchivoSeleccionado{float: left;border: 1px solid #ff0000;margin: 5px;background: #F0F0F0;}
.limiteCarpeta{width: 65px;height: auto;border: 0px solid #FF0000;margin: 5px;}

.checkFile{border: 1px solid #CCC;background: #F0F0F0;position: relative;width: 63px;height: 19px;display: none;}
.contenedorFile{border: 0px solid blue;position: relative;width: 63px;height: 42px;}
.contenedorFile:hover{background: #e1e1e1;cursor: pointer;}
/*imagen para la carpeta*/
.imagenFile{margin: 3px;width: 55px;height: 33px;border: 0px solid green;background: url(../img/documentsEmpty3.png) no-repeat center;text-align: center;}
/*imagen para los archivos*/
.imagenFileArchivo{margin: 3px;width: 55px;height: 35px;border: 0px solid green;text-align: center;background: url(../img/file.png) no-repeat center;}
.nombreFileDir{border: 0px solid #ff0000;margin: 3px;width: auto;height: auto;text-align: center;font-size: 10px;}


/*imagenes*/
.imgCarpetasFiles{float:right;margin-top:2px;}

/*estilos elementos seleccionados*/
.elementosSeleccionados{margin:10px;border-bottom:1px solid #CCC;}
.clase14{font-size: 14px;color: #666;}